<footer class="mt-auto pb-1 pt-5">
    <div class="content-limit">
        <div style="clear:both;"></div><br>
        <div class="mt-1 text-center">
            <img alt="bottom logo" class="mb-3" width="105" id="img-logo"
                src="/images/exclusivacam.png">
            <p>Todos(as) os(as) modelos que aparecem neste site têm mais de 18 anos</p>

            <a target="_blank" href="https://www.rtalabel.org/">
                <img src="/images/rta.svg" alt="">
            </a>

            <a target="_blank" href="https://www.freespeechcoalition.com/">
                <img src="/images/fsc.svg" alt="">
            </a>
            <a target="_blank" href="https://www.asacp.org/">
                <img src="/images/asacp.svg" alt="">
            </a>

        </div>

        <div style="clear:both;"></div>

        <div id="bottom-footer-area" class="mt-5">

            <div class="container">
                <div class="row">
                    <div id="footer-bottom-copyrights" class="col-md-6">

                        <p>Exclusiva Cam® <%= new Date().getFullYear();%> © Todos os direitos reservados</p>
                    </div>
                    <div id="footer-bottom-links" class="col-md-6">

                        <%/*  <a href="{{ route('chat.termos_de_uso') }}">Termos de Uso</a>
                        <a href="{{ route('chat.politica_de_privacidade') }}">Política de Privacidade</a>
                        <a href="{{ route('chat.politica_de_cookies') }}">Política de Cookies</a> */%>

                    </div>
                </div>
            </div>
        </div>
</footer>
