<div class="cover-container d-flex h-100  flex-column">
        <header class="masthead mb-auto mt-1">
                <div class="inner">
                        <h3 class="masthead-brand"><img id="img-logo" src="/images/exclusivacam.png" /></h3>
                        <nav class="nav nav-masthead justify-content-center">
                                <a class="nav-link active" href="/">Home</a>

                                <a class="nav-link" href="#">Quero ser modelo</a>
                                <a class="nav-link" href="#">Ao vivo</a>
                        </nav>
                </div>
        </header>
        <main role="main" class="inner cover">
                <div class="container">
                        <div class="row justify-content-md-center">
                                <div class="col-md-auto text-center">
                                        <h1><a href="#">ACESSAR</a></h1>
                                        <p>P</p>
                                </div>
                        </div>

                </div>
        </main>
        <%- include('./partials/_footer'); %>
</div>

<link rel="stylesheet" type="text/css" href="/dist/css/welcome.min.css">
<style>
        body {
                background: #000;
        }
</style>
