


<section class="page-section mb-5" id="picaje-bordado">
    <div class="container px-4 px-lg-5 mt-5">
        <h2 class="text-center mt-0">Picaje <span>Bordado</span></h2>
        <hr class="divider" />
        <div class="row gx-4 gx-lg-5">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5">
                    <a href="#">
                        <div class="mb-2">
                            <img src="assets/img/picaje-1.jpg" alt="">
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5">
                    <a href="#">
                        <div class="mb-2">
                            <img src="assets/img/picaje-2.jpg" alt="">
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5">
                    <a href="#">
                        <div class="mb-2">
                            <img src="assets/img/picaje-3.jpg" alt="">
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5">
                    <a href="#">
                        <div class="mb-2">
                            <img src="assets/img/picaje-4.jpg" alt="">
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5">
                    <a href="#">
                        <div class="mb-2">
                            <img src="assets/img/picaje-5.jpg" alt="">
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5">
                    <a href="#">
                        <div class="mb-2">
                            <img src="assets/img/picaje-6.jpg" alt="">
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5">
                    <a href="#">
                        <div class="mb-2">
                            <img src="assets/img/picaje-7.jpg" alt="">
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5">
                    <a href="#">
                        <div class="mb-2">
                            <img src="assets/img/picaje-8.jpg" alt="">
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5">
                    <a href="#">
                        <div class="mb-2">
                            <img src="assets/img/picaje-9.jpg" alt="">
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5">
                    <a href="#">
                        <div class="mb-2">
                            <img src="assets/img/picaje-10.jpg" alt="">
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5">
                    <a href="#">
                        <div class="mb-2">
                            <img src="assets/img/picaje-11.jpg" alt="">
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5">
                    <a href="#">
                        <div class="mb-2">
                            <img src="assets/img/picaje-12.jpg" alt="">
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5">
                    <a href="#">
                        <div class="mb-2">
                            <img src="assets/img/picaje-13.jpg" alt="">
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5">
                    <a href="#">
                        <div class="mb-2">
                            <img src="assets/img/picaje-14.jpg" alt="">
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5">
                    <a href="#">
                        <div class="mb-2">
                            <img src="assets/img/picaje-15.jpg" alt="">
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5">
                    <a href="#">
                        <div class="mb-2">
                            <img src="assets/img/picaje-16.jpg" alt="">
                        </div>
                    </a>
                </div>
            </div>

        </div>
    </div>
</section>

<%- include('./partials/_footer'); %>
